.animal__container {
    color: #5f5d58;
    height: 100vh;
}

.animal__container__body {
    box-sizing: border-box;
    padding-bottom: 20px;
}

/* Cover */
.animal__cover__container {
    width: 100%;
    height: auto;
    position: relative;
}

.animal__cover__image {
    width: 100%;
    height: auto;
    display: block;
}
.animal__cover__closebtn {
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.animal__cover__closebtn:hover {
    cursor: pointer;
}

/* Cover end */

/* Header */
.animal__header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal__header__name {
    margin: 0;
    font-weight: 700;
}
.animal__header__location {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fe9e0c;
}
.animal__header__location p {
    margin: 0;
    font-size: 1.5em;
}
/* Header end */

/* Body */
.animal__body__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.animal__body__text {
    text-align: center;
    width: 90%;
    max-width: 300px;
    font-size: 1.2em;
}
/* Body end */

/* Actions */
.animal__actions__container {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

/* Actions end */
