@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

.charities__container {
    background-color: #fa7c20;
    min-height: 100%;
    /* border-radius: 30px; */
    padding: 20px 20px 30px;
    font-family: 'Nunito', sans-serif;
}

/* charitier__cad */
.charitier__header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70px;
}

.charitier__header__icon__container {
    background: none;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-right: 15px;
    width: 14px;
    height: 24px;
}
.charitier__header__icon__container img{
    width: 100%;
    height: 100%;
}
.charitier__header__icon__container:hover {
    cursor: pointer;
}

.charitier__header__text__container {
    display: flex;
    align-items: center;
}
.charitier__header__container img {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.charitier__header__container h2 {
    font-weight: 800;
    color: white;
    font-size: 35px;
    margin: 0;
}

/* charitier__header end */

/* charitier__card */
.charitiercard__grid{
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17px;
    grid-row-gap: 19px;
    -ms-grid-rows: (1fr)[auto-fill];
    grid-template-rows: repeat(auto-fill, 1fr);
}

.charitiercard__container {
    width: 100%;
    position: relative;
    height: auto;
    grid-column: 1/3;
    cursor: pointer;
    min-height: auto;
}
.charitiercard__container img{
    width: 100%;
}

.charitiercard__container__body {
    position: absolute;
    top: 10px;
    left: 13px;
}
.charitiercard__container__body h2 {
    font-weight: 800;
    font-size: 24px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.49918);
}

.charitiercard__container__body p {
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.49918);
}
/* charitier__card end */

@media screen and (min-width: 600px){
    .charities__container{
        border-radius: 30px;
    }
}
