.custom__button {
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    box-shadow: 0px 5px 8px #bebebe;
    border-radius: 15px;
    padding: 0 45px;
    color: white;
    font-weight: 800;
    font-size: 17px;
}

.custom__button:hover {
    cursor: pointer;
}

.custom__button__primary {
    background: #ffc225;
}

.custom__button__secondary {
    background-color: #fe9e0c;
}

.custom__button__icon {
    padding-right: 18px;
}
