@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body,#root{
    width: 100%;
    min-height: 100%;
    height: 100%;
}
#root{
    background-color: white;
}
@media screen and (min-width: 600px){
    body{
        height: auto;
        padding: 40px 30px;
        background: #ECA335;
    }
    #root {
        margin: 0 auto;
        border-radius: 30px;
        width: 100%;
        max-width: 400px;
        min-height: 700px;
        box-shadow: 3px 3px 8px 4px rgba(163, 117, 47, 0.5);
        border: 2px solid black;
    }
}
